
    <!-- <h1>Hi sam</h1> -->
    <!-- <app-sam-component></app-sam-component> -->

    <!-- data Interpolation  -->
    <!-- <font [color]="color">
      <h1>Interpolation Example</h1>
      <h1>{{ name }}</h1>
      <h1>{{ age }}</h1>
      <h1>{{ email }}</h1>
      <h2>{{ getFunction(10, 20) }}</h2>
    </font>
     -->
   
    <!-- property binding -->
    <!-- <h1>Property Binding Example</h1>
    <h1><input type="text" [value]="name" /></h1>
    <h1><input type="text" [value]="age" /></h1>
    <h1><input type="text" [value]="email" /></h1> -->


    <!-- <button (click)="changename()">click</button><br><br> -->

    <!-- Two way binding -->
  <!-- Enter fname <input type="text" [(ngModel)]="fname">
  {{fname}} -->


<!-- Angular Structural Directives -->
<!-- <button (click)="changeFlag()">Show or Hide</button>
<div *ngIf="flag" >
  <ul>
    <li *ngFor="let v of vehicles" (click)="setSelected(v)">{{v}}</li>
 
  </ul>
  <b>You selct: {{selectedItem}}</b>
  <div [ngSwitch]="selectedItem" [ngStyle]="mystyle">
      <li *ngSwitchCase="'sam'" [ngClass]="myclass">thalaivan</li>
      <li *ngSwitchCase="'vel'">yejaman</li>
      <li *ngSwitchCase="'raja'">dharala prabhu</li>
      <li *ngSwitchDefault>Always king</li>
  </div>
</div> -->

<!-- <img src="https://media.geeksforgeeks.org/gfg-gg-logo.svg" alt="" width="600px" height="700px"> -->



<!-- <table>
  <tr>
    <th><a routerLink="/home">Home</a></th>
    <th><a routerLink="/contact">Contact</a></th>
    <th><a routerLink="/about"> About</a></th>
  </tr>
</table>
<div>
  This is new componensts place  <router-outlet></router-outlet> -->

<!-- </div> -->

<h1>{{sum1}}</h1>
<h1>{{sum2}}</h1>
